.productos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 3%;
    margin: 3%;
}

.bot__1{
    background-color: rgb(127, 195, 255);
    width: 100px;
    height: 30px;
    border: none;
}

.bot__1:hover{
    background-color: rgb(72, 122, 166);
    cursor: pointer; 
}

.botOn{
    background-color: rgb(127, 195, 255);
    padding: 6px;
    border: none;
    margin: 1%;
}

.botOn:hover{
    background-color: cornflowerblue;
    cursor: pointer; 
}

.contador{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-color: rgb(210, 210, 210);
    padding: 10px;
}